<!-- <p>ng-switch-adv works!</p> -->
<section>
    <nav>
        <ul>
            <li (click)="openTab()" [class.active]="currentTab == ''">Home</li>
            <li (click)="openTab('profile')" [class.active]="currentTab == 'profile'">Profile</li>
            <li (click)="openTab('contact')" [class.active]="currentTab == 'contact'">Contact</li>
            <li (click)="openTab('about')" [class.active]="currentTab == 'about'">About</li>
        </ul>
    </nav>
</section>

<section [ngSwitch]="currentTab" >
    <div *ngSwitchCase="''">This is Home Page</div>
    <div *ngSwitchCase="'profile'">This is Profile Page</div>
    <div *ngSwitchCase="'contact'">This is Contact Page</div>
    <div *ngSwitchCase="'about'">This is About Page</div>
</section>