<h2>Git Trial</h2>
<section id="commitBox">
    <div>
        <label for="">Dir/File Name :</label>
        <input type="text" name="" id="" #dir>
    </div>
    <div>
        <label for="">Commit msg : </label>
        <input type="text" name="" id="" #msg>
    </div>
    <div>
        <button (click)="updateRepo(dir.value,msg.value)" >Push Changes</button>
    </div>
</section>
<hr>

<ng-template #list let-update>
    <app-list [item]="update"></app-list>
</ng-template>


<app-wrapper [newUpdate]="update" [listTemplate]="list">
    <small>Ng-Studio</small>
</app-wrapper>