<input type="text" (keyup)="setText($event)">
<!-- <div>
    <p>Font Size : {{textSize}} px</p>
    <button (click)="setSize('inc')">+</button>
    <button (click)="setSize('dec')">-</button>
</div> -->
<br><br>
<input (input)="setSize($event)" type="range" min="20" max="200" value="10">
<br>
<br>
<div>
    <select (change)="setColor($event)">
        <option value="none" selected disabled hidden>Select Color</option>
        <option value="green">Green</option>
        <option value="red">Red</option>
        <option value="yellow">Yellow</option>
        <option value="blue">Blue</option>
    </select>
</div>
<hr>
<p [style.fontSize.px]="textSize" [class]="textClass">{{text}}</p>