<!-- <app-small-project></app-small-project> -->
<!-- <app-forms></app-forms> -->
<!-- <app-ng-style-andng-class></app-ng-style-andng-class> -->
<!-- <app-ngif></app-ngif> -->
<!-- <app-ng-for></app-ng-for> -->
<!-- <app-ng-switch></app-ng-switch> -->
<!-- <app-ng-switch-adv></app-ng-switch-adv> -->
<!-- <app-pipes-tem-plate-expression></app-pipes-tem-plate-expression> -->
<!-- <app-template-variable></app-template-variable> -->
<!-- <app-header></app-header> -->
<!-- <app-profile></app-profile> -->
<!-- <input type="text" (keyup.enter)="passValue($event)">
<app-child [name]="data"></app-child> -->
Enter name of Hero to add in Hero List : <input type="text" name="" id="" (keyup.enter)="addHero($event)" >
<app-child [list]="heroList" [msg]="isValueAdded"></app-child>